docker.enabled    = true
docker.runOptions = '-u $(id -u):$(id -g)'

// Global default params, used in configs
params {
    input = false
    atlas = false
    output = 'output'
    run_denoising = true
    run_eddy = false
    run_n4 = true
}


process {
    withName: "DENOISING_MPPCA" {
        ext.extent = 3
    }
    withName: "PREPROC_SINGLEEDDY" {
        ext.eddy_cmd = "eddy_cpu"
        ext.encoding = "y"
        ext.readout = 0.01536
        ext.extra_args = ""
    }
    withName: "MOUSE_BETDWI" {
        ext.threshold = 0.3
        ext.dwi_shell_tolerance = 20
        ext.min_fodf_shell_value = 500
    }

    withName: "MOUSE_N4" {
        ext.threshold=0.001
        ext.convergence = "150x150x150x150"
    }

    withName: "RESAMPLE_DWI" {
        ext.iso_min = true
        ext.interp = "lin"
    }

    withName: "RESAMPLE_MASK" {
        ext.iso_min = true
        ext.interp = "nn"
        ext.first_suffix = "mask"
    }

    withName: "MOUSE_REGISTRATION" {
        ext.laplacian_value = "0.1mm"
        ext.atlas_resolution = "100"
    }

    withName: "IMAGE_CONVERT" {
        ext.datatype = "uint8"
        ext.first_suffix = "mask"
    }

    withName: "RECONST_DTIMETRICS" {
        ext.ad = true
        ext.evecs = true
        ext.evals = true
        ext.fa = true
        ext.ga = true
        ext.rgb = true
        ext.md = true
        ext.mode = true
        ext.norm = true
        ext.rd = true
        ext.tensor = true
        ext.nonphysical = true
        ext.pulsation = true
        ext.residual = true
        ext.b0_thr_extract_b0 = 10
        ext.dwi_shell_tolerance = 50
        ext.max_dti_shell_value = 3500
    }

    withName: "RECONST_FRF" {
        ext.nvox_min = 50
        ext.max_dti_shell_value = 3500
    }

    withName: "TRACKING_MASK" {
        ext.seeding_labels_ids="1138 1139 1140 1141 1142 1173 1174 1179 1182 1205"
        ext.tracking_labels_ids="82 401 748 800 961 962 963 1092 1107 1132 1145 1146"
    }
}